<%= render 'navbar' %>
<%= render 'banner' %>
<h4 class="text-center">Your favourites</h4>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i.pinimg.com/originals/44/c1/b6/44c1b6c9aadc147f9efe80081c25b4bd.jpg');">
          <div class="card-body">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
